/* ../../common.blocks/board/board.styl:begin */
.board__time:hover:before,
.board__destination:hover:before,
.board__flight:hover:before,
.board__counter:hover:before,
.board__boarding:hover:before,
.board__gate:hover:before,
.board__remarks:hover:before,
.board__time:hover:after,
.board__destination:hover:after,
.board__flight:hover:after,
.board__counter:hover:after,
.board__boarding:hover:after,
.board__gate:hover:after,
.board__remarks:hover:after {
  content: '';
  position: absolute;
  z-index: 1;
  height: 10000px;
  background-color: rgba(255,254,0,0.12);
}
.board__time:hover:after,
.board__destination:hover:after,
.board__flight:hover:after,
.board__counter:hover:after,
.board__boarding:hover:after,
.board__gate:hover:after,
.board__remarks:hover:after {
  bottom: 100%;
  margin-bottom: 10px;
}
.board__time:hover:before,
.board__destination:hover:before,
.board__flight:hover:before,
.board__counter:hover:before,
.board__boarding:hover:before,
.board__gate:hover:before,
.board__remarks:hover:before {
  top: 100%;
  margin-top: 10px;
}
* {
  margin: 0;
  padding: 0;
  font-style: normal;
}
body {
  padding-left: 20px;
  padding-right: 20px;
  height: 5000px;
  background-color: #000;
}
.board {
  position: relative;
  display: inline-block;
  max-width: 69.85rem;
  padding-top: 100px;
  background-color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  user-select: none;
  cursor: default;
}
.board_sticky {
  padding-top: 0;
}
@media screen and (min-width: 69.85rem) {
  .board {
    left: 50%;
    right: auto;
    margin-left: -34.925rem;
  }
}
.board__header {
  position: absolute;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border-bottom: 1px solid #373a3d;
  border-radius: 3px 3px 0 0;
  background: linear-gradient(0deg, #303539 0%, #3b424a 50%, #4d5358 100%);
  color: #eee;
}
.board__header_pos_fixed {
  position: fixed;
  top: 0;
}
.board__header_pos_rel {
  left: 0 !important;
}
.board__title {
  position: absolute;
  left: 30%;
  top: 5px;
  font-size: 2.2em;
  text-align: center;
}
.board__title:before {
  content: '';
  position: absolute;
  left: -60px;
  top: 0;
  width: 45px;
  height: 45px;
  background: url("../../images/departure_icon.png") 50% 50% no-repeat;
  background-size: contain;
  opacity: 0.85;
}
.board__rows {
  display: table;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 5px solid #000;
  background-color: #323335;
}
.board__row {
  position: relative;
  display: block;
  border-bottom: 3px solid #020609;
  white-space: nowrap;
}
.board__row:last-child {
  border: 0;
}
.board__checkbox[name="f_delayed"][value="1"]:checked ~ .board__row {
  display: none;
}
.board__checkbox[name="f_delayed"][value="1"]:checked ~ .board__row_active {
  display: block;
}
.board__description {
  display: none;
  padding: 5px 15px 10px;
  white-space: normal;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #323335;
  color: #fff;
  cursor: pointer;
}
.board__description:before {
  content: '×';
  position: absolute;
  right: 7px;
  top: 0;
  font-size: 1.5rem;
}
.board__checkbox {
  position: absolute;
  left: -1000%;
  visibility: hidden;
}
.board__checkbox:checked+.board__row {
  z-index: 7;
}
.board__checkbox:checked+.board__row .board__description {
  position: fixed;
  left: 50%;
  top: 50%;
  display: block;
  width: 600px;
  height: 400px;
  margin-left: -250px;
  margin-top: -250px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 8;
}
.board__time,
.board__destination,
.board__flight,
.board__counter,
.board__boarding,
.board__gate,
.board__remarks {
  display: inline-block;
  vertical-align: top;
}
.board__time:hover:before,
.board__time:hover:after {
  width: 9.18vw;
  left: 0;
}
.board__destination:hover:before,
.board__destination:hover:after {
  width: 18.36vw;
  left: 9.18vw;
}
.board__flight:hover:before,
.board__flight:hover:after {
  width: 13.77vw;
  left: 27.54vw;
}
.board__counter:hover:before,
.board__counter:hover:after {
  width: 9.18vw;
  left: 41.31vw;
}
.board__boarding:hover:before,
.board__boarding:hover:after {
  width: 9.18vw;
  left: 50.49vw;
}
.board__gate:hover:before,
.board__gate:hover:after {
  width: 6.12vw;
  left: 59.67vw;
}
.board__remarks:hover:before,
.board__remarks:hover:after {
  width: 18.36vw;
  left: 65.79vw;
}
@media screen and (min-width: 1200px) {
  .board__time:hover:before,
  .board__time:hover:after {
    width: 7.62rem;
    left: 0;
  }
  .board__destination:hover:before,
  .board__destination:hover:after {
    width: 15.24rem;
    left: 7.62rem;
  }
  .board__flight:hover:before,
  .board__flight:hover:after {
    width: 11.43rem;
    left: 22.86rem;
  }
  .board__counter:hover:before,
  .board__counter:hover:after {
    width: 7.62rem;
    left: 34.29rem;
  }
  .board__boarding:hover:before,
  .board__boarding:hover:after {
    width: 7.62rem;
    left: 41.91rem;
  }
  .board__gate:hover:before,
  .board__gate:hover:after {
    width: 5.08rem;
    left: 49.529999999999994rem;
  }
  .board__remarks:hover:before,
  .board__remarks:hover:after {
    width: 15.24rem;
    left: 54.60999999999999rem;
  }
}
@media screen and (max-width: 1000px) {
  .board__time:hover:before,
  .board__time:hover:after {
    width: 9.18vw;
    left: 0;
  }
  .board__destination:hover:before,
  .board__destination:hover:after {
    width: 15.3vw;
    left: 9.18vw;
  }
  .board__flight:hover:before,
  .board__flight:hover:after {
    width: 12.24vw;
    left: 24.48vw;
  }
  .board__counter:hover:before,
  .board__counter:hover:after {
    width: 9.18vw;
    left: 36.72vw;
  }
  .board__boarding:hover:before,
  .board__boarding:hover:after {
    width: 9.18vw;
    left: 45.9vw;
  }
  .board__gate:hover:before,
  .board__gate:hover:after {
    width: 6.12vw;
    left: 55.08vw;
  }
  .board__remarks:hover:before,
  .board__remarks:hover:after {
    width: 18.36vw;
    left: 61.199999999999996vw;
  }
  .board__time .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__time .board__cell:last-child {
    display: inline-block;
  }
  .board__destination .board__cell:nth-child(n+10) {
    display: none;
  }
  .board__destination .board__cell:last-child {
    display: inline-block;
  }
  .board__flight .board__cell:nth-child(n+8) {
    display: none;
  }
  .board__flight .board__cell:last-child {
    display: inline-block;
  }
  .board__counter .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__counter .board__cell:last-child {
    display: inline-block;
  }
  .board__boarding .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__boarding .board__cell:last-child {
    display: inline-block;
  }
  .board__gate .board__cell:nth-child(n+4) {
    display: none;
  }
  .board__gate .board__cell:last-child {
    display: inline-block;
  }
  .board__remarks .board__cell:nth-child(n+12) {
    display: none;
  }
  .board__remarks .board__cell:last-child {
    display: inline-block;
  }
}
@media screen and (max-width: 900px) {
  .board__time:hover:before,
  .board__time:hover:after {
    width: 9.18vw;
    left: 0;
  }
  .board__destination:hover:before,
  .board__destination:hover:after {
    width: 12.24vw;
    left: 9.18vw;
  }
  .board__flight:hover:before,
  .board__flight:hover:after {
    width: 12.24vw;
    left: 21.42vw;
  }
  .board__counter:hover:before,
  .board__counter:hover:after {
    width: 9.18vw;
    left: 33.660000000000004vw;
  }
  .board__boarding:hover:before,
  .board__boarding:hover:after {
    width: 9.18vw;
    left: 42.84vw;
  }
  .board__gate:hover:before,
  .board__gate:hover:after {
    width: 6.12vw;
    left: 52.02vw;
  }
  .board__remarks:hover:before,
  .board__remarks:hover:after {
    width: 18.36vw;
    left: 58.14vw;
  }
  .board__time .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__time .board__cell:last-child {
    display: inline-block;
  }
  .board__destination .board__cell:nth-child(n+8) {
    display: none;
  }
  .board__destination .board__cell:last-child {
    display: inline-block;
  }
  .board__flight .board__cell:nth-child(n+8) {
    display: none;
  }
  .board__flight .board__cell:last-child {
    display: inline-block;
  }
  .board__counter .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__counter .board__cell:last-child {
    display: inline-block;
  }
  .board__boarding .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__boarding .board__cell:last-child {
    display: inline-block;
  }
  .board__gate .board__cell:nth-child(n+4) {
    display: none;
  }
  .board__gate .board__cell:last-child {
    display: inline-block;
  }
  .board__remarks .board__cell:nth-child(n+12) {
    display: none;
  }
  .board__remarks .board__cell:last-child {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  .board__time:hover:before,
  .board__time:hover:after {
    width: 5.4rem;
    left: 0;
  }
  .board__destination:hover:before,
  .board__destination:hover:after {
    width: 5.4rem;
    left: 5.4rem;
  }
  .board__flight:hover:before,
  .board__flight:hover:after {
    width: 4.5rem;
    left: 10.8rem;
  }
  .board__counter:hover:before,
  .board__counter:hover:after {
    width: 5.4rem;
    left: 15.3rem;
  }
  .board__boarding:hover:before,
  .board__boarding:hover:after {
    width: 5.4rem;
    left: 20.700000000000003rem;
  }
  .board__gate:hover:before,
  .board__gate:hover:after {
    width: 3.6rem;
    left: 26.1rem;
  }
  .board__remarks:hover:before,
  .board__remarks:hover:after {
    width: 4.5rem;
    left: 29.700000000000003rem;
  }
  .board__time .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__time .board__cell:last-child {
    display: inline-block;
  }
  .board__destination .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__destination .board__cell:last-child {
    display: inline-block;
  }
  .board__flight .board__cell:nth-child(n+5) {
    display: none;
  }
  .board__flight .board__cell:last-child {
    display: inline-block;
  }
  .board__counter .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__counter .board__cell:last-child {
    display: inline-block;
  }
  .board__boarding .board__cell:nth-child(n+6) {
    display: none;
  }
  .board__boarding .board__cell:last-child {
    display: inline-block;
  }
  .board__gate .board__cell:nth-child(n+4) {
    display: none;
  }
  .board__gate .board__cell:last-child {
    display: inline-block;
  }
  .board__remarks .board__cell:nth-child(n+5) {
    display: none;
  }
  .board__remarks .board__cell:last-child {
    display: inline-block;
  }
}
.board__cell {
  position: relative;
  display: inline-block;
  width: 1.53vw;
  padding: 7px 0 5px;
  background-color: #323335;
  vertical-align: top;
}
.board__cell:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 7px;
  height: 3px;
  background: linear-gradient(180deg, #000 0%, transparent 100%);
  line-height: 0;
  font-size: 0;
}
.board__cell:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  height: 5px;
  background: linear-gradient(180deg, #404541 0%, transparent 100%);
  line-height: 0;
  font-size: 0;
}
@media screen and (min-width: 1200px) {
  .board__cell {
    width: 1.27rem;
  }
}
@media screen and (max-width: 800px) {
  .board__cell {
    width: 0.9rem;
  }
}
.board__letter {
  display: block;
  width: 0.7em;
  height: 0.9em;
  box-sizing: border-box;
  box-shadow: inset 0 0 2px #000;
  background-color: #453d2c;
  font-size: 2vw;
  line-height: 0.85;
  font-family: 'VT323', sans-serif;
  color: #fffe00;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .board__letter {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1000px) {
  .board__letter {
    font-size: 1.2rem;
  }
}
.board__row:nth-of-type(odd) .board__letter {
  background-color: #29251a;
}
.board__row:hover .board__letter {
  background-color: #0e0c09;
  color: #ffc;
}
.board__col-title {
  position: absolute;
  bottom: 3px;
  font-size: 1rem;
  line-height: 1;
}
.board__col-time {
  width: 9.18vw;
  left: 0.2vw;
}
.board__col-destination {
  width: 18.36vw;
  left: 9.379999999999999vw;
}
.board__col-flight {
  width: 13.77vw;
  left: 27.74vw;
}
.board__col-counter {
  width: 9.18vw;
  left: 41.510000000000005vw;
}
.board__col-boarding {
  width: 9.18vw;
  left: 50.690000000000005vw;
}
.board__col-gate {
  width: 6.12vw;
  left: 59.870000000000005vw;
}
.board__col-remarks {
  width: 18.36vw;
  left: 65.99000000000001vw;
}
@media screen and (min-width: 1200px) {
  .board__col-time {
    width: 9.18vw;
    left: 0.2rem;
  }
  .board__col-destination {
    width: 18.36vw;
    left: 7.82rem;
  }
  .board__col-flight {
    width: 13.77vw;
    left: 23.06rem;
  }
  .board__col-counter {
    width: 9.18vw;
    left: 34.49rem;
  }
  .board__col-boarding {
    width: 9.18vw;
    left: 42.11000000000001rem;
  }
  .board__col-gate {
    width: 6.12vw;
    left: 49.730000000000004rem;
  }
  .board__col-remarks {
    width: 18.36vw;
    left: 54.81rem;
  }
}
@media screen and (max-width: 1000px) {
  .board__col-time {
    width: 9.18vw;
    left: 0.2vw;
  }
  .board__col-destination {
    width: 15.3vw;
    left: 9.379999999999999vw;
  }
  .board__col-flight {
    width: 12.24vw;
    left: 24.68vw;
  }
  .board__col-counter {
    width: 9.18vw;
    left: 36.92vw;
  }
  .board__col-boarding {
    width: 9.18vw;
    left: 46.1vw;
  }
  .board__col-gate {
    width: 6.12vw;
    left: 55.28vw;
  }
  .board__col-remarks {
    width: 18.36vw;
    left: 61.400000000000006vw;
  }
}
@media screen and (max-width: 900px) {
  .board__col-time {
    width: 9.18vw;
    left: 0.2vw;
  }
  .board__col-destination {
    width: 12.24vw;
    left: 9.379999999999999vw;
  }
  .board__col-flight {
    width: 12.24vw;
    left: 21.62vw;
  }
  .board__col-counter {
    width: 9.18vw;
    left: 33.86000000000001vw;
  }
  .board__col-boarding {
    width: 9.18vw;
    left: 43.040000000000006vw;
  }
  .board__col-gate {
    width: 6.12vw;
    left: 52.220000000000006vw;
  }
  .board__col-remarks {
    width: 18.36vw;
    left: 58.34vw;
  }
}
@media screen and (max-width: 800px) {
  .board__col-time {
    width: 9.18vw;
    left: 0.2rem;
  }
  .board__col-destination {
    width: 9.18vw;
    left: 5.600000000000001rem;
  }
  .board__col-flight {
    width: 7.65vw;
    left: 11rem;
  }
  .board__col-counter {
    width: 9.18vw;
    left: 15.5rem;
  }
  .board__col-boarding {
    width: 9.18vw;
    left: 20.9rem;
  }
  .board__col-gate {
    width: 6.12vw;
    left: 26.3rem;
  }
  .board__col-remarks {
    width: 7.65vw;
    left: 29.9rem;
  }
}
.board__subtitle {
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board__subtitle:last-child {
  margin: 0;
}
.board__subtitle_main {
  color: #fffe00;
}
.board__btn-boarding {
  position: absolute;
  right: 5px;
  top: 0;
  padding: 3px 5px;
  cursor: pointer;
}
/* ../../common.blocks/board/board.styl:end */
/* ../../common.blocks/flight-details/flight-details.styl:begin */
.flight-details__row {
  margin-bottom: 10px;
}
.flight-details__title {
  display: inline-block;
  margin-right: 10px;
  color: #fffe00;
}
.flight-details__content {
  display: inline-block;
}
/* ../../common.blocks/flight-details/flight-details.styl:end */
