.flight-details
	box-shadow: 0 0 15px darken(#FFFE00, 15%)

	&:before
		content: '×'
		position: absolute
		right: 10px
		top: 0
		font-size: 2.5rem
		line-height: 1

	&__row
		margin-bottom: 10px

	&__title
		display: inline-block
		margin-right: 10px
		color: #FFFE00

	&__content
		display: inline-block
