$cell-bcg = #453D2C
$letter-color = #FFFE00
$cell-width = 1.27rem

// Board grid data
$cols =  {
	name: 'time' 'destination' 'flight' 'counter' 'boarding' 'gate' 'remarks'
	default: 6 12 9 6 6 4 12
	w1000: 6 9 9 6 6 4 6
	w900: 6 8 9 6 6 3 6
	w800: 6 4 9 6 6 4 4
}

// Column headers left padding
column-pads(col_width = $cols.default)
	s = 0
	for width, i in col_width
		&__col-{$cols.name[i]}
			left: s * $cell-width + 0.2rem

		s = s + width

$highlight
	&:hover:before,
	&:hover:after
		content: ''
		position: absolute
		z-index: 1
		height: 10000px
		background-color: rgba($letter-color, 0.12)

	&:hover:after
		bottom: 100%
		margin-bottom: 10px

	&:hover:before
		top: 100%
		margin-top: 10px

// Hide board cells depending on viewport width
cell-hide(col_width = $cols.default)
	for name, i in $cols.name
		&__{name} &__cell:nth-child(n+{col_width[i]})
			display: none
		&__{name} &__cell:last-child
			display: inline-block

col-highlight(col_width = $cols.default)
	s = 0
	for name, i in $cols.name
		&__{name}
			@extend $highlight

			&:hover:before,
			&:hover:after
				width: $cell-width * col_width[i]
				left: s
		s = s + $cell-width * col_width[i]

*
	margin: 0
	padding: 0
	font-style: normal

body
	background-color: #000

.board
	position: fixed
	top: 0
	left: 10px
	right: 10px
	max-width: $cell-width * 55
	overflow: hidden
	border: 2px solid #323335
	border-width: 0 2px 0 2px
	background-color: #000
	font-family: 'Open Sans Condensed', sans-serif
	user-select: none
	cursor: default

	&__header
		position: relative
		z-index: 6
		height: 100px
		background: linear-gradient(0deg, #303539 0%, #3B424A 50%, #4D5358 100%)
		color: #EEE
		border-bottom: 1px solid darken(#4E5357, 30%)

	&__title
		position: absolute
		left: 30%
		top: 5px
		font-size: 2.2em
		text-align: center

	&__rows
		display: table
		width: 100%
		box-sizing: border-box
		border-top: 5px solid #000
		background-color: #323335

	&__row
		position: relative
		display: block
		border-bottom: 3px solid #020609
		white-space: nowrap

		&:last-child
			border: 0

	&__description
		display: none
		padding: 5px 15px 10px
		white-space: normal
		font-family: 'Open Sans Condensed', sans-serif
		text-align: center
		background-color: #323335
		color: #FFF

	&__checkbox
		position: absolute
		left: -1000%
		visibility: hidden

	&__checkbox:checked+&__row
		z-index: 5

	&__checkbox:checked+&__row 	&__description
		display: block

	&__time,
	&__destination,
	&__flight,
	&__counter,
	&__boarding,
	&__gate,
	&__remarks
		display: inline-block

	col-highlight()

	@media screen and (max-width: 1000px)
		col-highlight($cols.w1000)
		cell-hide($cols.w1000)

	@media screen and (max-width: 900px)
		col-highlight($cols.w900)
		cell-hide($cols.w900)

	@media screen and (max-width: 800px)
		col-highlight($cols.w800)
		cell-hide($cols.w800)

	&__cell
		position: relative
		display: inline-block
		width: $cell-width
		padding: 7px 0 5px
		background-color: #323335
		vertical-align: top

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 7px
			height: 3px
			background: linear-gradient(180deg, #000 0%, transparent 100%)
			line-height: 0
			font-size: 0

		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0px
			height: 5px
			background: linear-gradient(180deg, #404541 0%, transparent 100%)
			line-height: 0
			font-size: 0

	&__letter
		display: block
		width: 0.7em
		height: 0.9em
		box-sizing: border-box
		box-shadow: inset 0 0 2px #000
		background-color: $cell-bcg
		font-size: 1.7em
		line-height: 0.85
		font-family: 'VT323', sans-serif
		color: $letter-color
		text-align: center
		text-transform: uppercase
		transition: all 0.2s
		cursor: pointer

	&__row:hover &__letter
		background-color: darken($cell-bcg, 80%)
		color: lighten($letter-color, 80%)

	&__col-title
		position: absolute
		bottom: 3px
		font-size: 1rem
		line-height: 1

	column-pads()

	@media screen and (max-width: 1000px)
		column-pads($cols.w1000)

	@media screen and (max-width: 900px)
		column-pads($cols.w900)

	@media screen and (max-width: 800px)
		column-pads($cols.w800)

	&__subtitle
		margin-bottom: 2px

		&:last-child
			margin: 0

		&_main
			color: $letter-color
