$cell-bcg = #453D2C
$letter-color = #FFFE00
$cell-width = 1.53vw
$cell-width-max = 1.27rem
$cell-width-min = 0.9rem
$board-max-width = $cell-width-max * 55
$header-height = 100px
$letter-font-size = 2vw
$letter-font-size-min = 1.2rem
$letter-font-size-max = 1.7rem

// Board grid data
$cols =  {
	name: 'time' 'destination' 'flight' 'counter' 'boarding' 'gate' 'remarks'
	default: 6 12 9 6 6 4 12
	w1000: 6 10 8 6 6 4 12
	w900: 6 8 8 6 6 4 12
	w800: 6 6 5 6 6 4 5
}

// Column headers left padding and width
column-titles(col_width = $cols.default, cell_width = $cell-width)
	s = 0
	for width, i in col_width
		&__col-{$cols.name[i]}
			width: $cell-width * col_width[i]
			left: s * cell_width + 0.2rem

		s = s + width

$highlight
	&:hover:before,
	&:hover:after
		content: ''
		position: absolute
		z-index: 1
		height: 10000px
		background-color: rgba($letter-color, 0.12)

	&:hover:after
		bottom: 100%
		margin-bottom: 10px

	&:hover:before
		top: 100%
		margin-top: 10px

// Hide board cells depending on viewport width
cell-hide(col_width = $cols.default)
	for name, i in $cols.name
		&__{name} &__cell:nth-child(n+{col_width[i]})
			display: none
		&__{name} &__cell:last-child
			display: inline-block

col-highlight(col_width = $cols.default, cell_width = $cell-width)
	s = 0
	for name, i in $cols.name
		&__{name}
			@extend $highlight

			&:hover:before,
			&:hover:after
				width: cell_width * col_width[i]
				left: s
		s = s + cell_width * col_width[i]

*
	margin: 0
	padding: 0
	font-style: normal

body
	padding-left: 20px
	padding-right: 20px
	height: 5000px
	background-color: #000

.board
	position: relative
	display: inline-block
	max-width: $board-max-width
	padding-top: $header-height
	background-color: #000
	font-family: 'Open Sans Condensed', sans-serif
	user-select: none
	cursor: default

	&_sticky
		padding-top: 0

	@media screen and (min-width: $board-max-width)
		left: 50%
		right: auto
		margin-left: - ($board-max-width / 2)

	// sticky work only in FF
	// in Chrome temp disabled due spec inconsistency
	&__header
		position: absolute
		position: sticky
		top: 0
		left: 0
		z-index: 6
		width: 100%
		height: $header-height
		box-sizing: border-box
		border-bottom: 1px solid darken(#4E5357, 30%)
		border-radius: 3px 3px 0 0
		background: linear-gradient(0deg, #303539 0%, #3B424A 50%, #4D5358 100%)
		color: #EEE

		&_pos_fixed
			position: fixed
			top: 0

		&_pos_rel
			left: 0!important

	&__title
		position: absolute
		left: 30%
		top: 5px
		font-size: 2.2em
		text-align: center

		&:before
			content: ''
			position: absolute
			left: -60px
			top: 0
			width: 45px
			height: 45px
			background: url(../../images/departure_icon.png) 50% 50% no-repeat
			background-size: contain
			opacity: 0.85

	&__rows
		display: table
		width: 100%
		overflow: hidden
		box-sizing: border-box
		border-top: 5px solid #000
		background-color: #323335

	&__row
		position: relative
		display: block
		border-bottom: 3px solid #020609
		white-space: nowrap

		&:last-child
			border: 0

	&__checkbox[name="f_delayed"][value="1"]:checked ~ &__row
		display: none

	&__checkbox[name="f_delayed"][value="1"]:checked ~ &__row_active
		display: block

	&__description
		display: none
		padding: 5px 15px 10px
		white-space: normal
		font-family: 'Open Sans Condensed', sans-serif
		background-color: #323335
		color: #FFF
		cursor: pointer

		&:before
			content: '×'
			position: absolute
			right: 7px
			top: 0
			font-size: 1.5rem

	&__checkbox
		position: absolute
		left: -1000%
		visibility: hidden

	&__checkbox:checked+&__row
		z-index: 7

	&__checkbox:checked+&__row 	&__description
		position: fixed
		left: 50%
		top: 50%
		display: block
		width: 600px
		height: 400px
		margin-left: -250px
		margin-top: -250px
		padding: 20px
		box-sizing: border-box
		z-index: 8

	&__time,
	&__destination,
	&__flight,
	&__counter,
	&__boarding,
	&__gate,
	&__remarks
		display: inline-block
		vertical-align: top

	col-highlight()

	@media screen and (min-width: 1200px)
		col-highlight($cols.default, $cell-width-max)

	@media screen and (max-width: 1000px)
		col-highlight($cols.w1000)
		cell-hide($cols.w1000)

	@media screen and (max-width: 900px)
		col-highlight($cols.w900)
		cell-hide($cols.w900)

	@media screen and (max-width: 800px)
		col-highlight($cols.w800, $cell-width-min)
		cell-hide($cols.w800)

	&__cell
		position: relative
		display: inline-block
		width: $cell-width
		padding: 7px 0 5px
		background-color: #323335
		vertical-align: top

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 7px
			height: 3px
			background: linear-gradient(180deg, #000 0%, transparent 100%)
			line-height: 0
			font-size: 0

		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0px
			height: 5px
			background: linear-gradient(180deg, #404541 0%, transparent 100%)
			line-height: 0
			font-size: 0

		@media screen and (min-width: 1200px)
			width: $cell-width-max

		@media screen and (max-width: 800px)
			width: $cell-width-min

	&__letter
		display: block
		width: 0.7em
		height: 0.9em
		box-sizing: border-box
		box-shadow: inset 0 0 2px #000
		background-color: $cell-bcg
		font-size: $letter-font-size //1.7em
		line-height: 0.85
		font-family: 'VT323', sans-serif
		color: $letter-color
		text-align: center
		text-transform: uppercase
		transition: all 0.2s
		cursor: pointer

		@media screen and (min-width: 1200px)
			font-size: $letter-font-size-max

		@media screen and (max-width: 1000px)
			font-size: $letter-font-size-min

	&__row:nth-of-type(odd) &__letter
		background-color: darken($cell-bcg, 40%)

	&__row:hover &__letter
		background-color: darken($cell-bcg, 80%)
		color: lighten($letter-color, 80%)

	&__col-title
		position: absolute
		bottom: 3px
		font-size: 1rem
		line-height: 1

	column-titles()

	@media screen and (min-width: 1200px)
		column-titles($cols.default, $cell-width-max)

	@media screen and (max-width: 1000px)
		column-titles($cols.w1000)

	@media screen and (max-width: 900px)
		column-titles($cols.w900)

	@media screen and (max-width: 800px)
		column-titles($cols.w800, $cell-width-min)

	&__subtitle
		margin-bottom: 2px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

		&:last-child
			margin: 0

		&_main
			color: $letter-color

	&__btn-boarding
		position: absolute
		right: 5px
		top: 0
		padding: 3px 5px
		cursor: pointer
